.home {
    margin-top: 100px;
    font-size: 8rem;
    font-weight: 450;
    width: 55%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .home-left-section {
        --img-size: 50px;
        background-color: white;
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
        height: max-content;
        padding-bottom: 20px;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .home-left-header {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            padding: 20px 20px;
            gap: 20px;
            transition: .4s ease-in-out;

            form {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: relative;
                border-radius: 20px;
                transition: .3s ease-in-out;
                background-color: var(--thin-light-color);
                --img-lbl-size: 260px;

                .spin-loader {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    border-radius: 20px;
                    height: 100%;
                }

                .text-int {
                    width: 80%;
                    height: 40px;
                    font-size: 1.8rem;
                    padding: 8px 20px;
                    border-radius: 20px;
                    outline: none;
                    border: none;
                    resize: none;
                    transition: .3s ease-in-out;
                    background-color: var(--thin-light-color);
                }

                .text-int::-webkit-scrollbar {
                    width: 5px;
                }

                .int-active {
                    height: 120px;
                    margin-top: 15px;
                    margin-bottom: 50px;
                    width: 100%;
                    padding: 0px 30px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .text-int-focus-label {
                    position: absolute;
                    bottom: 10px;
                    left: 25px;
                }

                .margin-bottom {
                    margin-bottom: calc(var(--img-lbl-size) + 20px);
                }

                label {
                    transition: .4s ease-in-out;
                    --border-radius-img: 15px;

                    i {
                        transition: .4s ease-in-out;
                        font-size: 2rem;
                        font-weight: 450;
                        cursor: pointer;
                    }

                    .img-class {
                        position: relative;

                        .spin-loader {
                            position: absolute;
                            height: 100%;
                            z-index: 3;
                            border-radius: var(--border-radius-img);
                        }

                        img {
                            object-fit: cover;
                            height: var(--img-lbl-size);
                            width: var(--img-lbl-size);
                            border-radius: var(--border-radius-img);
                        }

                        i {
                            position: absolute;
                            right: 0px;
                            top: 0px;
                            font-weight: 550;
                            background-color: rgba(139, 139, 139, 0.578);
                            font-size: 2rem;
                            color: rgb(0, 0, 0);
                            display: none;
                            padding: 10px;
                            cursor: pointer;
                            border-top-right-radius: var(--border-radius-img);
                            border-bottom-left-radius: var(--border-radius-img);
                        }

                        img:hover+i,
                        i:hover {
                            display: block;
                        }
                    }

                }

                .image-int {
                    display: none;
                }

                .post-btn {
                    position: absolute;
                    right: 25px;
                    bottom: 10px;
                    font-size: 1.6rem;
                    font-weight: 500;
                    padding: 2px 10px;
                    border: none;
                    outline: none;
                    border-radius: 12px;
                    padding-bottom: 5px;
                    background-color: var(--dark-color);
                    color: white;
                    display: none;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
            }

            .form-active {
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            }
        }

        .home-left-body {
            .spin-loader {
                position: absolute;
                height: 100%;
                z-index: 3;
            }

            .user-post-message {
                font-size: 1.8rem;
                font-weight: 500;
                padding: 20px 0;
            }

            .following-user-posts {
                display: flex;
                flex-flow: column wrap;
                gap: 20px;
            }
        }
    }

    .home-right-section {
        .suggested-users {
            background-color: rgb(255, 255, 255);
            position: sticky;
            top: 100px;
            right: 20px;
            z-index: 3;
            position: sticky;
            height: max-content;
            display: flex;
            flex-flow: column wrap;
            gap: 15px;
            padding: 15px 0px;
            border-radius: 10px;
            transition: 1s ease-in-out;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .profiles {
                display: flex;
                flex-flow: column wrap;
                gap: 5px;

                .error-msg-sugg-user {
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding: 10px 20px;
                }
            }

            h1 {
                font-size: 2rem;
                background-color: var(--dark-color);
                color: var(--thin-light-color);
                padding: 15px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            }

            .see-more-btn {
                font-size: medium;
                font-weight: 450;
                background-color: white;
                color: var(--dark-color);
                font-weight: 550;
                padding: 6px 0 8px 0;
                border: 3px solid var(--dark-color);
                width: 35%;
                margin-inline: auto;
                border-radius: 25px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                transition: .3s ease-in-out;
                outline: none;
            }

            .see-more-btn:hover {
                background-color: var(--thin-light-color);
            }

            .see-more-btn:active {
                background-color: var(--dark-color);
                border: 3px solid white;
                color: white;
                box-shadow: none;
            }
        }

    }
}