.home {
    margin-top: 100px;
    font-size: 8rem;
    font-weight: 450;
    width: 55%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    gap: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .home-left-section {
        --img-size: 50px;
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
        height: max-content;
        padding-bottom: 20px;

        .home-left-header {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            padding: 20px 20px;
            gap: 20px;
            transition: .4s ease-in-out;
            background-color: white;
            border-radius: 20px;
            box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }

        .home-left-body {
            width: 100%;
            position: relative;

            .spin-loader {
                position: absolute;
                bottom: -200px;
                height: 200px;
                z-index: 3;
                border-radius: 20px;
            }

            .user-post-message {
                font-size: 1.8rem;
                font-weight: 500;
                padding: 20px 0;
            }

            .following-user-posts {
                display: flex;
                flex-flow: column wrap;
                gap: 10px;
            }
        }
    }

    .home-right-section {
        .suggested-users {
            background-color: rgb(255, 255, 255);
            position: sticky;
            top: 100px;
            right: 20px;
            z-index: 3;
            position: sticky;
            height: max-content;
            display: flex;
            flex-flow: column wrap;
            gap: 15px;
            padding: 15px 0px;
            border-radius: 10px;
            transition: 1s ease-in-out;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .profiles {
                display: flex;
                flex-flow: column wrap;
                gap: 5px;

                .error-msg-sugg-user {
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding: 10px 20px;
                }
            }

            h1 {
                font-size: 2rem;
                background-color: var(--dark-color);
                color: var(--thin-light-color);
                padding: 15px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            }

            .see-more-btn {
                font-size: medium;
                font-weight: 450;
                background-color: white;
                color: var(--dark-color);
                font-weight: 550;
                padding: 6px 0 8px 0;
                border: 3px solid var(--dark-color);
                width: 35%;
                margin-inline: auto;
                border-radius: 25px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                transition: .3s ease-in-out;
                outline: none;
            }

            .see-more-btn:hover {
                background-color: var(--thin-light-color);
            }

            .see-more-btn:active {
                background-color: var(--dark-color);
                border: 3px solid white;
                color: white;
                box-shadow: none;
            }
        }

    }
}