.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 15px 0;
    height: 80px;
    z-index: 2;
    backdrop-filter: blur(8px);
    background-color: rgba($color: #F1F8FF, $alpha: .4);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    .logo {
        cursor: pointer;
    }

    .header {
        margin-left: 0;

        img {
            height: 50px;
            left: -12px;
        }

        h1 {
            font-size: 2rem;
            padding: 5px 15px;
            padding-left: 45px;
        }
    }

    .left-section {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        position: relative;
    }

    .right-section {
        position: relative;

        img {
            --img-size: 60px;
            border-radius: 50%;
            object-fit: cover;
            height: var(--img-size);
            width: var(--img-size);
            border: 3.5px solid white;
            outline: 1px dashed black;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            cursor: pointer;
        }

        ul {
            position: absolute;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            left: -70%;
            bottom: -210%;
            flex-flow: column wrap;
            background-color: white;
            width: 150px;
            border-radius: 10px;
            transition: .3s ease-in-out;
            transform-origin: top;
            overflow: hidden;
            transform: scale(1, 0);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

            li {
                width: 100%;

                button {
                    width: 100%;
                    text-decoration: none;
                    border: none;
                    background-color: white;
                    font-size: 1.6rem;
                    padding: 8px 0;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    outline: none;
                }

                .btn-btm-padding {
                    padding-bottom: 12px;
                }

                button:active {
                    transform: translateY(-1.5px);
                }

                button:hover {
                    background-color: rgba(218, 216, 216, 0.267);
                }
            }
        }

        img:hover+ul,
        ul:hover {
            transform: scale(1, 1);
        }
    }

    p {
        position: absolute;
        right: 6%;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        padding: 8px 20px;
        border-radius: 8px;
        animation: fade-in 2s ease-in-out forwards;
        display: none;
        background-color: white;

        @keyframes fade-in {
            0% {
                opacity: 0.2;
                filter: blur(20px);
            }

            100% {
                opacity: 1;
                filter: blur(0);
            }
        }
    }

}

.error-message,
.success-message {
    padding: 4px 20px 6px 20px;
    border-radius: 10px;
    font-weight: 550;
    width: fit-content;
    font-size: large;
    margin-inline: auto;
    transition: 2s ease-in-out;
}

.error-message {
    position: fixed;
    top: -50px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(243, 95, 95, 0.842);
    box-shadow: inset 5px 5px 30px rgba(243, 95, 95, 0.842),
        inset -10px -10px 30px rgba(255, 0, 0, 0.68),
        rgba(237, 114, 114, 0.48) 6px 2px 16px 0px,
        rgba(237, 114, 114, 0.8) -6px -2px 16px 0px;
    color: var(--light-color);
    text-shadow: 10px 10px 25px rgb(234, 107, 107),
        -10px 10px 25px rgb(234, 107, 107),
        -10px -10px 25px rgb(234, 107, 107),
        10px -10px 25px rgb(234, 107, 107);
}

.error-message-change {
    top: 30px;
}

.success-message {
    position: fixed;
    bottom: -50px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(95, 243, 117, 0.842);
    box-shadow: inset 5px 5px 30px rgba(95, 243, 117, 0.842),
        inset -10px -10px 30px rgba(0, 255, 30, 0.68),
        rgba(114, 237, 139, 0.48) 6px 2px 16px 0px,
        rgba(114, 237, 139, 0.8) -6px -2px 16px 0px;
    color: var(--light-color);
    text-shadow: 10px 10px 25px rgb(107, 234, 118),
        -10px 10px 25px rgb(107, 234, 118),
        -10px -10px 25px rgb(107, 234, 118),
        10px -10px 25px rgb(107, 234, 118);
}

.success-message-change {
    bottom: 50px;
}