.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 15px 0;
    height: 80px;
    backdrop-filter: blur(8px);
    background-color: rgba($color: #F1F8FF, $alpha: .4);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    .logo {
        cursor: pointer;
    }

    .header {
        margin-left: 0;

        img {
            height: 50px;
            left: -12px;
        }

        h1 {
            font-size: 2rem;
            padding: 5px 15px;
            padding-left: 45px;
        }
    }

    .right-section {
        position: relative;

        img {
            --img-size: 60px;
            border-radius: 50%;
            object-fit: cover;
            height: var(--img-size);
            width: var(--img-size);
            border: 3.5px solid white;
            outline: 1px dashed black;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            cursor: pointer;
        }

        ul {
            z-index: 3;
            position: absolute;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            left: -70%;
            bottom: -210%;
            flex-flow: column wrap;
            background-color: white;
            width: 150px;
            border-radius: 10px;
            transition: .3s ease-in-out;
            transform-origin: top;
            overflow: hidden;
            transform: scale(1, 0);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

            li {
                width: 100%;

                button {
                    width: 100%;
                    text-decoration: none;
                    border: none;
                    background-color: white;
                    font-size: 1.6rem;
                    padding: 8px 0;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    outline: none;
                }

                .btn-btm-padding {
                    padding-bottom: 12px;
                }

                button:active {
                    transform: translateY(-3px);
                }

                button:hover {
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                    background-color: rgba(218, 216, 216, 0.267);
                }
            }
        }

        img:hover+ul,
        ul:hover {
            transform: scale(1, 1);
        }

        .search-section {
            position: absolute;
            bottom: 10px;
            right: 150%;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                transition: .8s ease-in-out;
                cursor: pointer;
            }

            input {
                height: 40px;
                width: 20px;
                border: none;
                transition: .8s ease-in-out;
                outline: none;
                padding: 5px 5px 5px 40px;
                font-size: 2rem;
                border-radius: 50%;
                font-weight: 400;
                box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
            }

            input:focus {
                width: 280px;
                border-radius: 30px;
                padding-right: 20px;
            }

            .i-width {
                left: 0px;
                transform: translate(10px, -50%);
                border-right: 1px solid rgba(0, 0, 0, 0.288);
                padding-right: 5px;
            }
        }

    }

    p {
        position: absolute;
        right: 6%;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        padding: 8px 20px;
        border-radius: 8px;
        animation: fade-in 2s ease-in-out forwards;
        display: none;

        @keyframes fade-in {
            0% {
                opacity: 0.2;
                filter: blur(20px);
            }

            100% {
                opacity: 1;
                filter: blur(0);
            }
        }
    }

}