.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0 10px 0;
    height: 14vh;
    background-color: rgba($color: white, $alpha: .5);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .header {
        margin-left: 0;

        img {
            height: 50px;
            left: -12px;
        }

        h1 {
            font-size: 2rem;
            padding: 5px 15px;
            padding-left: 45px;
        }
    }

    .right-section {
        position: relative;
        width: 150px;

        img {
            --img-size: 60px;
            border-radius: 50%;
            object-fit: cover;
            height: var(--img-size);
            width: var(--img-size);
            border: 3.5px solid white;
            outline: 1px dashed black;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        }

        ul {
            position: absolute;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 0;
            bottom: -220%;
            flex-flow: column wrap;
            background-color: white;
            width: 100%;
            border-radius: 10px;
            transition: .3s ease-in-out;
            transform-origin: top;
            transform: scaleY(0);
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

            li {
                width: 100%;

                button {
                    width: 100%;
                    text-decoration: none;
                    border: none;
                    background-color: white;
                    font-size: 1.6rem;
                    padding: 8px 0;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                }

                .btn-btm-padding {
                    padding-bottom: 12px;
                }

                button:active {
                    transform: translateY(-5px);
                }

                button:hover {
                    background-color: rgba(218, 216, 216, 0.267);
                }
            }
        }

        img:hover+ul,
        ul:hover {
            transform: scaleY(1);
        }
    }
}