.suggested-user-profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
    // border-bottom: 1px solid lightgray;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    .user-details {
        text-align: left;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;

        img {
            --img-size: 50px;
            height: var(--img-size);
            width: var(--img-size);
            object-fit: cover;
            border-radius: 10px;
            border: 3px solid white;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }

        .more-details {
            width: 14rem;


            span {
                font-size: small;
            }

            .username-div {
                display: flex;
                flex-flow: row wrap;
                align-items: center;

                .username {
                    font-size: large;
                    font-weight: 350;
                    width: 70%;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }

                span {
                    font-size: 1.2rem;
                    font-weight: 550;
                    background-color: var(--light-dark-color);
                    color: var(--thin-light-color);
                    padding: 5px 8px;
                    border-radius: 100px;
                }
            }



            .follower-count {
                font-size: medium;
                font-weight: 250;
            }
        }

    }

    .follow-btn {
        background-color: var(--thin-light-color);
        color: var(--dark-color);
        border: none;
        outline: none;
        height: max-content;
        width: max-content;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 5px;
        transition: .2s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }

    .follow-btn:hover {
        background-color: white;
    }

    .follow-btn:active {
        background-color: var(--dark-color);
        color: white;
        transform: translateY(-1.5px);
    }
}

.suggested-user-profile:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--thin-light-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;

    .user-details {
        .more-details {
            .username-div {
                .username {
                    font-size: medium;
                }
            }
        }
    }
}