form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 20px;
    transition: .3s ease-in-out;
    background-color: var(--thin-light-color);
    --img-lbl-size: 260px;

    .spin-loader {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        border-radius: 20px;
        height: 100%;
    }

    .text-int {
        width: 80%;
        height: 40px;
        font-size: 1.8rem;
        padding: 8px 20px;
        border-radius: 20px;
        outline: none;
        border: none;
        resize: none;
        transition: .3s ease-in-out;
        background-color: var(--thin-light-color);
    }

    .text-int::-webkit-scrollbar {
        width: 5px;
    }

    .int-active {
        height: 120px;
        margin-top: 15px;
        margin-bottom: 50px;
        width: 100%;
        padding: 0px 30px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .text-int-focus-label {
        position: absolute;
        bottom: 10px;
        left: 25px;
    }

    .margin-bottom {
        margin-bottom: calc(var(--img-lbl-size) + 20px);
    }

    label {
        transition: .4s ease-in-out;
        --border-radius-img: 15px;

        .fa-cloud-plus {
            transition: .4s ease-in-out;
            font-size: 2rem;
            font-weight: 450;
            cursor: pointer;
        }

        .img-class {
            position: relative;


            .spin-loader {
                position: absolute;
                height: 100%;
                z-index: 3;
                border-radius: var(--border-radius-img);
            }

            img {
                object-fit: cover;
                height: var(--img-lbl-size);
                width: var(--img-lbl-size);
                border-radius: var(--border-radius-img);
                transition: .5s ease-in-out;
            }

            .img-error-shadow {
                box-shadow: inset 5px 5px 30px rgba(242, 56, 56, 0.842),
                    inset -10px -10px 30px rgb(255, 0, 0),
                    rgb(237, 114, 114) 6px 2px 16px 0px,
                    rgba(255, 0, 0, 0.744) -6px -2px 16px 0px;
            }

            .img-success-shadow {
                box-shadow: inset 5px 5px 30px rgba(45, 234, 73, 0.842),
                    inset -10px -10px 30px rgba(2, 143, 31, 0.68),
                    rgba(114, 237, 139, 0.683) 6px 2px 16px 0px,
                    rgba(2, 143, 30, 0.699) -6px -2px 16px 0px;
            }

            .fa-spin {
                position: absolute;
                right: 0px;
                top: 0px;
                font-weight: 550;
                background-color: rgba(139, 139, 139, 0.578);
                font-size: 2rem;
                color: rgb(0, 0, 0);
                display: none;
                padding: 10px;
                cursor: pointer;
                transition: 1s ease-in-out;
                border-top-right-radius: var(--border-radius-img);
                border-bottom-left-radius: var(--border-radius-img);
            }

            img:hover+i,
            i:hover {
                display: block;
            }

        }

    }

    .image-int {
        display: none;
    }

    .post-btn {
        position: absolute;
        right: 25px;
        bottom: 10px;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 3px 15px;
        border: none;
        outline: none;
        border-radius: 12px;
        padding-bottom: 5px;
        background-color: var(--dark-color);
        color: white;
        display: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .post-btn:active {
        transform: translateY(-.5px);
    }
}

.form-active {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}